## .NET Core
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
bin/
obj/
*.nupkg
*.snupkg
*.ncrunchproject
*.cruser
*.orig
*.DS_Store
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
_Chutzpah*
ipch/
$tf/
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs
node_modules/
wwwroot/lib/
*.min.js
*.min.css
project.lock.json
project.fragment.lock.json
artifacts/
ScaffoldingReadMe.txt
StyleCopReport.xml
*.[Rr]eleaseCandidate
*.[Tt]est[Rr]esult*
[Tt]est[Rr]esult*
*.coverage
*.coveragexml
_NCrunch_*
nCrunchTemp_*
*.opencover.xml
*.VisualState.xml
TestResult.xml
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c
*~
*.dbml
*.appcache
local.settings.json
appsettings.Development.json
